$primaryColor:#98cb50;
$headerColor:#3C462F;
$hotColor:#9AB35D;
$whiteColor:#fff;
$textColor8:#888888;
$textColor6:#666666;

$textColor:#323334;
$fontPopin:'Poppins', sans-serif;
$fontPlay:'Playfair Display',sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$fontSize: 10px;