.main {
  .main-background {
    width: 100%;
    height: 100vh;
    position: relative;
    &:hover{
      .slick-arrow{
     @include visibility(visible, 1);
    //  transform: translateX(-100%);
        
      }
    }
    .slick-arrow{
      width: 30px;
      height: 30px;
      position: absolute; 
      font-size: 3rem;
      top: 50%;
      transform: translateY((-50%));
      color: $textColor8;
      background-color: transparent;
     @include flex(center, center,none);
     @include visibility(hidden, 0);
     @include transition(0.25s, linear);
     
     &:hover{
      color: $primaryColor;

     }
    }
    .slick-prev{
        left: 10%;
        z-index: 2;
        // transform: translateX(-50%);
    }
    .slick-next{
      
      right: 10%;
      z-index: 2;
      // transform: translateX(50%);
      
  }

  
    .main-background-content {
      
      max-width: 100%;
      height: 100vh;
      position: relative;
     
      .bg-text1{
        
        width: 100%;
        z-index: 777;
        // height: 100%;
        position: absolute;
        text-align: center;
        
        transform: translate(-50%, -50%);
       
        h4 {
          @include font($fontPlay, 1.5rem, $whiteColor);
        }
        h2 {
          margin-bottom: 32px;
          @include font($fontPlay, 4.375rem, $whiteColor);
        }

        a {
          border: 1px solid $primaryColor;
          border-radius: 40px;
          padding: 12px;
          text-transform: uppercase;
          @include font($fontPlay, 0.875rem, $whiteColor);
          &:hover {
            @include hover(pointer, $primaryColor,none);
            
        }
      }

    }
    .bg-text1{
      top: 50%;
        left: 50%;
    }

    
  }
  .main-background2-content {
      
    max-width: 100%;
    height: 100vh;
    position: relative;
    
    .bg-text2{
      
      width: 100%;
      z-index: 777;
      // height: 100%;
      position: absolute;
     
      
      // transform: translate(-50%, -50%);
      h4 {
        @include font($fontPlay, 1.5rem, $whiteColor);
        
      }
      h2 {
        // margin-bottom: 32px;
        @include font($fontPlay, 4.375rem, $whiteColor);
      }
      h3{
        @include font($fontPlay, 3.625rem, $whiteColor);

        margin-bottom: 32px;
      }

      a {
        margin-top: 32px;
        border: 1px solid $primaryColor;
        border-radius: 40px;
        padding: 12px;
        text-transform: uppercase;
        @include font($fontPlay, 0.875rem, $whiteColor);
        &:hover {
          @include hover(pointer, $primaryColor,none);
          
      }
    }

  }
  .bg-text2{
    top: 35%;
      left: 20%;
  }

  
}

}
}